/components/**/*.view.js
/pages/**/*.view.js
/node_modules
/public/main.js
.temp
.claude
_site
vt/static/public/main.js
vt/static/public/main.js.map
static/public/rtgl-icons.js
static/public/@rettangoli
/task
/keys
/test-versions
/test-update-server
/src-tauri/*.bak

# Generated setup file
src/setup.js
