pkgbase = routevn-creator
	pkgdesc = RouteVN Creator
	pkgver = 1.7.2
	pkgrel = 3
	url = https://routevn.com
	arch = x86_64
	license = MIT
	makedepends = bun
	makedepends = node-gyp
	makedepends = pkgconf
	makedepends = rust
	depends = gst-libav
	depends = gst-plugins-bad
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = librsvg
	depends = openssl
	depends = sqlite
	depends = webkit2gtk-4.1
	depends = xdg-utils
	options = !debug
	options = !lto
	source = routevn-creator-1.7.2::git+https://github.com/RouteVN/routevn-creator-client.git#tag=v1.7.2
	sha256sums = SKIP

pkgname = routevn-creator
