elementName: rvn-settings

viewDataSchema:
  type: object
  properties:
    appVersion:
      type: string
      default: ""

refs:
  left-panel:
    eventListeners:
      data-changed:
        handler: handleDataChanged
  checkUpdateButton:
    eventListeners:
      click:
        handler: handleCheckForUpdates

template: 
  - rtgl-view d=h w=f h=f: 
    - rtgl-view d=h h=f:
      - rvn-resizable-panel#left-panel .resourceCategory=resourceCategory .selectedResourceId=selectedResourceId .flatItems=flatItems .repositoryTarget=repositoryTarget:
      - rtgl-view flex=1 h=f p=lg:
        - rtgl-text s=h2: General Settings
        - rtgl-view g=lg mt=lg:
          - rtgl-view d=v g=md:
            - rtgl-text s=lg: Version Information
            - rtgl-view d=h av=c g=sm:
              - rtgl-text s=sm col=muted: "Current Version:"
              - rtgl-text s=sm: "${appVersion}"
            - rtgl-button#checkUpdateButton variant=pr: Check for Updates
