elementName: rvn-settings

viewDataSchema:
  type: object
  properties:
    appVersion:
      type: string
      default: ""

refs:
  left-panel:
    eventListeners:
      data-changed:
        handler: handleDataChanged
  checkUpdateButton:
    eventListeners:
      click:
        handler: handleCheckForUpdates

template:
  - rtgl-view d=h w=f h=f:
      - rtgl-view d=h h=f:
          - rvn-resizable-panel#file-explorer w=300 min-w=200 max-w=500 resize-side="right":
              - rtgl-view slot="content" w=f h=f:
                  - rvn-resource-types .resourceCategory=resourceCategory .selectedResourceId=selectedResourceId:
          - rtgl-view flex=1 h=f p=lg d=v:
              - rtgl-text s=h2: General Settings
              - rtgl-view g=lg mt=lg flex=1:
                  - rtgl-view d=v g=md:
                      - rtgl-text s=lg: Version Information
                      - rtgl-view d=h av=c g=sm:
                          - rtgl-text s=sm col=muted: "Current Version:"
                          - rtgl-text s=sm: "${appVersion}"
                      - rtgl-button#checkUpdateButton variant=pr: Check for Updates
              - rtgl-view w=f mt=auto pt=lg bw-t=xs:
                  - rtgl-button variant=se: Back to Projects
