elementName: rvn-settings-user

viewDataSchema:
  type: object
  properties: {}

refs:
  left-panel:
    eventListeners:
      data-changed:
        handler: handleDataChanged

template: 
  - rtgl-view d=h w=f h=f: 
    - rtgl-view d=h h=f:
      - rvn-resizable-panel#left-panel .resourceCategory=resourceCategory .selectedResourceId=selectedResourceId .flatItems=flatItems .repositoryTarget=repositoryTarget:
      - rtgl-view flex=1 h=f:
        - rtgl-view w=f h=f p=lg:
          - rtgl-text s=h2: User Settings
          - rtgl-view g=lg mt=lg:
            - rtgl-text s=md: User settings content will go here
            - rtgl-text s=sm c=mu-fg: This is a placeholder for the user settings interface