name: Lint
on:
  pull_request:
  workflow_dispatch:

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.2

      # Install dependencies from root
      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Install rtgl CLI
        run: bun install -g rtgl@0.0.30

      - name: Lint
        run: bun run lint

      - name: Build Web
        run: bun run build:web
